@import "tailwindcss";

@theme {
  --color-grid-even: #e0e0e0;
  --color-grid-odd: #1a237e;
  --color-grid-locked: #f44336;

  @keyframes pop {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  --animate-pop: pop 0.2s ease-in-out;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}